<div class='container'>
  <div class='container d-flex flex-column align-items-center'>
    <div style="width: 65%; height: 400px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
          <div class= "pe-5 ms-auto">

          <%= link_to "Aceptar viaje", car_bookings_path( @app.car_id, app_id: @app.id ), class: "btn btn-gradient", data: { turbo_method: "post" } %>
          <%= link_to "Negociar precio", new_application_offer_path(@app), class: "btn btn-gradient" %>

        </div>
</div>
