<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-auto">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center">
    <!-- Right -->
    <div class="d-flex">
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            Good Buddy
          </h6>
          <p>
         Una forma fácil de viajar. Solicita un Buddy para tu viaje y divertite, que nuestros Buddys te llevan a destino. Viajes a pedido. Obtené un viaje confiable en minutos, a cualquier hora y en cualquier día del año.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">

        <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Links importantes
            </h6>
            <p>
              <%= link_to "Condiciones", condiciones_path, class: "text-reset"  %>
            </p>
            <p>
              <%= link_to "Sistema de cancelaciones", cancel_policy_path, class: "text-reset"   %>
            </p>
            <p>
              <%= link_to "Help", help_path, class: "text-reset"  %>
            </p>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p><i class="fas fa-home me-3"></i> Moneda 973, Santiago, Chile</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            goodbuddy@service.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 56 9 5853 8973</p>
          <p><i class="fas fa-print me-3"></i> + 56 9 5854 8975</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
