<div class='container d-flex flex-column align-items-center'>
  <div class= "brandfont mt-5">
    <h1>Política de cancelación</h1>
  </div>
  <div class="formulario mb-5">
    <p>Cancelación de reserva
    La confirmación de la reserva prepaga implica la aceptación de un cargo de cancelación desde la realización de dicha reserva hasta 24 Hs previas a la fecha y hora para retirar la unidad equivalente a un monto predeterminado dependiendo de la fecha de pick up del vehículo más 4% de cargos administrativos.
    En caso de que la cancelación se produzca dentro de las 24 Hs a la fecha y hora para retirar la unidad, se deberá abonar un cargo de cancelación equivalente a la tarifa de un día del auto reservado más 4% de cargos administrativos. En los casos que soliciten deliveries de vehículos, cualquier modificación o cancelación del servicio deberá ser comunicada con al menos 24 horas de anticipación. De lo contrario se estará facturando el costo por los traslados, un día de alquiler, más 4% de cargos administrativos.
    En los casos que la reserva incluya permiso de cruce de fronterase no se reintegrará el costo por permiso de cruce además de los cargos arriba descriptos.</p>
  </div>
</div>
