<div class='container d-flex flex-column align-items-center'>
  <div class= "brandfont mt-5">
    <h1>Help</h1>
  </div>
  <div class="formulario mb-5">
    <p>La confirmación de la Reserva implica el conocimiento y aceptación de las condiciones de la misma. El cliente debe presentarse a retirar el automóvil reservado portando D.N.I., o Pasp, Licencia de Conducir vigente -la nacionalidad de la licencia de conducir debe coincidir con la nacionalidad del documento que acredita identidad.</p>
  </div>
</div>
