<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mi pagina de prueba</title>
  </head>

  <body>
     <div class="banner d-flex align-items-end">
        <div class="container pb-5">
          <h1>Good Buddy</h1>
          <h2><strong>Volve seguro</strong> nosotros <strong>manejamos.</strong></h2>
          <p>Donde quieras y cuando quieras, tene un Buddy a tu alcance.</p>
          <%= link_to "Solicitar un viaje", miautodeviaje_path(), class: "btn btn-primary" %>
          <%= link_to "Subir mi auto", new_car_path, class: "btn btn-primary" %>
          <%= link_to "Realizar un viaje", applications_path, class: "btn btn-primary" %>
        </div>
      </div>
  </body>
  <div class="container mt-5">
    <div class="row">
          <div class="col-md-12">
              <div class="features-block">
                  <div class="custom-block">
                    <div class="split-layout fixed">
                        <div class="split-item" style=" ">
                          <div class="row reverse">
                              <div class="col-md-6 image-column" style="margin: auto 0;">
                                <div class="image-block ">
                                  <a href="/es/feature/elemento-html-personalizado-470115">
                                    <img width="500" height="333" alt="Fotografia de pareja con cinturon de seguridad" src="app/assets/images/Seguridad.jpg">
                                  </a>
                                </div>
                              </div>
                                  <div class="col-md-6 text-column" style="margin: auto 0;">
                                    <div class="text-block">
                                      <h2 class="lang align-left">Estamos para ayudarte</h2>
                                      <p class="align-left">Nuestro equipo de atencion al cliente esta disponible para responder tus dudas y preguntas.</p>
                                    </div>
                                  </div>
                            </div>
                          </div>
                            <div class="split-item" style=" ">
                                <div class="row ">
                                  <div class="col-md-6 text-column" style="margin: auto 0;">
                                    <div class="text-block">
                                      <h2 class="lang align-left">Tu seguridad es nuestra prioridad</h2>
                                      <p class="align-left">Con viajes geolocalizados y choferes identificados. Además, ponemos medidas de protección contra el COVID-19 para que viajas sin preocupaciones.</p>
                                    </div>
                                  </div>
                                    <div class="col-md-6 image-column" style="margin: auto 0;">
                                      <div class="image-block ">
                                        <a href="/es/feature/codigo-css-personalizado-471754">
                                          <video width="500" height="332" data-src="https://images04.nicepage.com/feature/471754/es/custom-css-code.mp4" title="Código CSS personalizado" class="big-video embed-responsive-item lazyload lazyloading" loop="" muted="" autoplay="autoplay" playsinline="" src="https://images04.nicepage.com/feature/471754/es/custom-css-code.mp4">
                                            <source type="video/mp4">
                                            <p>Your browser does not support HTML5 video.</p>
                                          </video>
                                        </a>
                                      </div>
                                    </div>
                  </div>
              </div>
              <div class="split-item" style=" ">
                  <div class="row reverse">
                      <div class="col-md-6 image-column" style="margin: auto 0;">
                                  <div class="image-block ">
                      <a href="/es/feature/elemento-php-personalizado-470119">
              <img width="500" height="333" class="lazyload visible" data-src="https://images04.nicepage.com/feature/470119/es/custom-php-element.jpg" alt="Elemento PHP personalizado" title="Elemento PHP personalizado" src="https://images04.nicepage.com/feature/470119/es/custom-php-element.jpg">
          </a>

          </div>

                      </div>
                      <div class="col-md-6 text-column" style="margin: auto 0;">
                                  <div class="text-block">
              <h2 class="lang align-left">Claridad y transparencia en las tarifas</h2>
                  <p class="align-left">Siempre te mostramos el precio sugerido antes de aceptar el viaje para que puedas hacer tus viajes, sin sorpresas.</p>


          </div>

                      </div>
                  </div>
              </div>
              <div class="split-item" style=" ">
                  <div class="row ">
                      <div class="col-md-6 text-column" style="margin: auto 0;">
                                  <div class="text-block">
              <h2 class="lang align-left">Por que viajar con Good Buddy:</h2>
                  <p class="align-left">Una forma fácil de viajar. Solicita un Buddy para tu viaje y divertite,  que nuestros Buddys te llevan a destino. Viajes a pedido. Obtené un viaje confiable en minutos, a cualquier hora y en cualquier día del año. Opciones económicas: Cotizá los precios de todos los tipos de viaje, desde los traslados diarios hasta las salidas nocturnas.</p>
          </div>

                      </div>
                      <div class="col-md-6 image-column" style="margin: auto 0;">
                                  <div class="image-block ">
                      <a href="/es/feature/elemento-de-codigo-corto-476122">
              <img width="500" height="333" class="lazyload visible" data-src="https://images04.nicepage.com/feature/476122/es/shortcode-element.jpg" alt="Elemento de código corto" title="Elemento de código corto" src="https://images04.nicepage.com/feature/476122/es/shortcode-element.jpg">
          </a>

          </div>

                      </div>
                  </div>
              </div>
              </div>
  </div>






              </div>
          </div>
      </div>
   </div>
</html>
