<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mi pagina de prueba</title>
  </head>

  <body>
     <div class="banner">
        <div class="container">
          <h1>Cool Buddy</h1>
          <h2><strong>Volve seguro</strong> nosotros <strong>manejamos.</strong></h2>
          <p>Donde quieras y cuando quieras, tene un Buddy a tu alcance.</p>
          <%= link_to "Quiero ser Usuario", miautodeviaje_path(), class: "btn btn-primary" %>
          <%= link_to "Quiero ser Conductor", new_car_path, class: "btn btn-primary" %>
          <%= link_to "Ver posibles viajes (driver)", applications_path, class: "btn btn-primary" %>
        </div>
    </div>
  </body>
</html>
