.banner {
  background-size: cover;
  background-position: center;
  height: 900px ;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("Conductor2s.jpg");
  display: block !important;


  h1 {
    margin: 0;
    color: rgb(66, 133, 244);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  h2 {
    margin: 0;
    color: rgb(254, 247, 247);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
