.brandfont {
  h1 {
    margin: 0;
    color: rgb(66, 133, 244);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  h2{
    text-align: center;
    margin: 0;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 18px;
   }
}
.margenes {
  margin: 0%;
}
