.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 50%;
  font-weight: bold;
  background: linear-gradient(#4285F4, #3a5679);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#4285F4, #0F67DA);
  color: white;
}
