.card-product {
    overflow: hidden;
    height: 200px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    // width: 600px;



  img {

    height: 130%;
    width: 250px;
    object-fit: cover;

  }

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  infos {
    padding: 20px;
  }
}
